.wagon-scheme {
  border-style: solid;
  border-color: #d7dce1;
  border-width: 0 1px 1px 1px;
  background: #f9fbfd;
}

.wagon-scheme .inner .scheme {
  overflow: auto;
  padding: 0 3rem 4rem 3rem;
}

.wagon-scheme .inner .scheme .wagon-floors {
  display: inline-block;
}

.wagon-scheme .inner .scheme .wagon-floors .floor {
  width: 868px;
  height: 125px !important;
  border: .6rem solid #2c6a8c;
  border-radius: 1.5rem;
  position: relative;
  margin: 0 auto;
  min-width: calc(100% - 1.2rem);
}

.wagon-scheme .inner .scheme .wagon-floors .place.oc {
  font-weight: 400;
  background: #bebebe;
  left: 78px;
  top: 5px;
  width: 32px;
  height: 25px;
  line-height: 25px;
}

.wagon-scheme .inner .scheme .wagon-floors .place {
  font-size: 1.2rem;
  background: #2c6a8c;
  color: #fff;
  border-radius: .5rem;
  text-align: center;
  font-weight: 700;
  cursor: default;
}

.wagon-scheme .inner .scheme .wagon-floors .floor>* {
  position: absolute;
}

.wagon-scheme .inner .scheme .wagon-floors .place.up:before {
  margin: .4rem auto -.5rem;
}

.wagon-scheme .inner .scheme .wagon-floors .place.down::after, #train-wagons .wagon-scheme .inner .scheme .wagon-floors .place.up::before {
  display: block;
  content: '';
  height: 1px;
  background: #fff;
  width: 70%;
}

.wagon-scheme .inner .scheme .wagon-floors .wall {
  width: .2rem;
  background-color: #2c6a8c;
  left: 33px;
  top: 0px;
  height: 35px;
  line-height: 35px;
}

.wagon-scheme .inner .scheme .wagon-floors .toilet {
  background: url('https://booking.uz.gov.ua/i/img/coach/toilet_full.png') no-repeat center;
  background-size: contain;
  left: 38px;
  top: 5px;
  width: 32px;
  height: 25px;
  line-height: 25px;
}

.wagon-scheme .inner .scheme .wagon-floors .floor>* {
  position: absolute;
}

.wagon-scheme .inner .scheme .wagon-floors .floor>* {
  position: absolute;
}

.popover-inner {
  background-color: white;
}