.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  border-radius: 50%;
  PADDING: 20px;
}
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg1 { transform: rotate(30deg) translate(12em) rotate(-30deg); }
.deg2 { transform: rotate(60deg) translate(12em) rotate(-60deg); }
.deg3 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg4 { transform: rotate(120deg) translate(12em) rotate(-120deg); }
.deg5 { transform: rotate(150deg) translate(12em) rotate(-150deg); }
.deg6 { transform: rotate(180deg) translate(12em) rotate(-180deg); }
.deg7 { transform: rotate(210deg) translate(12em) rotate(-210deg); }
.deg8 { transform: rotate(240deg) translate(12em) rotate(-240deg); }
.deg9 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg10 { transform: rotate(300deg) translate(12em) rotate(-300deg); }
.deg11 { transform: rotate(330deg) translate(12em) rotate(-330deg); }
body {
  line-height: 0.8 !important;
}
.table-name {
  padding: 130px !important;
  top: 20% !important;
  left: 22% !important;
}
.table {
  margin-top: 100px;
  .image-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
}
.wedding-table {
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
  img {
    width: 80px;
    border-radius: 50%;
  }
}
.user {
  border: none !important;
  padding: 5px !important;
}
.middle {
  margin-top: 50px;
}
.colon {
  border: 1px solid black;
  border-radius: 5px;
  height: 80px;
  width: 80px;
  margin-left: 50%;
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
