.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  border-radius: 50%;
  PADDING: 20px;
}
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg1 { transform: rotate(25.714285714285715deg) translate(12em) rotate(-25.714285714285715deg); }
.deg2 { transform: rotate(51.42857142857143deg) translate(12em) rotate(-51.42857142857143deg); }
.deg3 { transform: rotate(77.14285714285714deg) translate(12em) rotate(-77.14285714285714deg); }
.deg4 { transform: rotate(102.85714285714286deg) translate(12em) rotate(-102.85714285714286deg); }
.deg5 { transform: rotate(128.57142857142858deg) translate(12em) rotate(-128.57142857142858deg); }
.deg6 { transform: rotate(154.28571428571428deg) translate(12em) rotate(-154.28571428571428deg); }
.deg7 { transform: rotate(180deg) translate(12em) rotate(-180deg); }
.deg8 { transform: rotate(205.71428571428572deg) translate(12em) rotate(-205.71428571428572deg); }
.deg9 { transform: rotate(231.42857142857144deg) translate(12em) rotate(-231.42857142857144deg); }
.deg10 { transform: rotate(257.14285714285717deg) translate(12em) rotate(-257.14285714285717deg); }
.deg11 { transform: rotate(282.8571428571429deg) translate(12em) rotate(-282.8571428571429deg); }
.deg12 { transform: rotate(308.57142857142856deg) translate(12em) rotate(-308.57142857142856deg); }
.deg13 { transform: rotate(334.2857142857143deg) translate(12em) rotate(-334.2857142857143deg); }
body {
  line-height: 0.8 !important;
}
.table-name {
  padding: 130px !important;
  top: 20% !important;
  left: 22% !important;
}
.table {
  margin-top: 100px;
  .image-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
}
.wedding-table {
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
  img {
    width: 80px;
    border-radius: 50%;
  }
}
.user {
  border: none !important;
  padding: 5px !important;
}
