.img-overlay {
  background-image: url("/images/27377400-wedding-wallpapers.jpg");
}
#blog .card {
  min-width: 15rem;
  max-width: 15rem;
}
.owl-stage {
  background: rgba(0, 0, 0, 0.3);
  padding: 50px;
}
section {
  iframe {
    margin-right: 5px;
  }
}